.home {
  overflow: hidden;
  background-color: white;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 10vw 0;
}

.info-box {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Social */
.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  margin-right: 4rem;
}

.social-icon {
  color: rgb(85, 84, 84);
  font-size: 1.5rem;
}

.social-icon:hover {
  color: black;
}


/* profile image*/

.profile-image {
  background: url(../assets/jo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-self: center;
  width: 400px;
  height: 400px;
  animation: 8s ease-in-out infinite 1s profile__animate;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.info-box h1 {
  font-size: 35px;
  background: linear-gradient(rgba(143, 188, 139, 0.015) 40%, var(--color-green));
  transform: skew(9deg, 0deg);
  font-style: italic;
  line-height: 30px;
}

.position {
  font-size: 30px;
}

.hello {
  color: black;
  font-weight: 100;
  font-size: 25px;
}

/* button get in touch*/
.button-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--color-primary);
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 0 var(--color-primary);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-touch:hover {
  border-color: var(--color-primary);
  color: #fff;
  box-shadow: inset 700px 0 0 0 var(--color-primary);
}

.scroll_down {
  position: absolute;
  left: 85%;
  top: 30rem;
  transform: rotate(90deg);
  font-size: 0.6rem;
  color: rgb(85, 84, 84);
}

.scroll_down:hover {
  color: black;
}

@media screen and (max-width: 800px) {
  .home-content {
    margin: 40px 10px 80px;
    flex-direction: column;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .info-box {
    margin-left: 0;
  }

  .hello {
    font-size: 15px;
  }

  .position {
    font-size: 25px;
  }

  .info-box h1 {
    font-size: 35px;
  }

  .arrow {
    font-size: 15px;
  }

  .scroll_down {
    top: 13rem;
    right: 1rem;
  }

  .home-social {
    margin-right: 1rem;
  }

  .social-icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .scroll_down {
    top: 13rem;
    right: 0.1rem;
  }
}
