.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.56);
    text-align: center;
    padding: 1rem 0;
    color:  rgb(85, 84, 84);
  }
  
  .footer h3 {
      font-weight: 100;
      font-size: 15px;
      padding: 10px 0;
  }
  
  @media screen and (max-width: 800px) {
    .footer {
      padding: 0.1rem 0;
      margin-bottom: 40px;
    }
  
    .footer h3 {
      font-size: 9px;
    }
  }