/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
    --color-primary: #679267;
    --color-grey: rgba(211, 211, 211, 0.56);
    --color-green: rgba(106, 142, 35, 0.599);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
}

textarea, input, button {
    font-family: "Poppins", sans-serif;

}